<a href="https://colab.research.google.com/github/niltonmalves/scrapping_opcoes_net/blob/master/Scrap_opcoes_net.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
#!cp /usr/lib/chromium-browser/chromedriver /usr/bin

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 2.8MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:11 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [89.9 kB]
Get:12 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,005 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,848 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,306 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [104 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,405 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [8,432 B]
Get:21 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [892 kB]
Fetched 6,930 kB in 3s (2,088 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension adobe-flashplugin
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 47 not upgraded.
Need to get 75.5 MB of archives.
After this operation, 256 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 83.0.4103.61-0ubuntu0.18.04.1 [1,119 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 83.0.4103.61-0ubuntu0.18.04.1 [66.7 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 83.0.4103.61-0ubuntu0.18.04.1 [3,378 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 83.0.4103.61-0ubuntu0.18.04.1 [4,294 kB]
Fetched 75.5 MB in 3s (24.0 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 144465 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_83.0.4103.61-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (83.0.4103.61-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_83.0.4103.61-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (83.0.4103.61-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_83.0.4103.61-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (83.0.4103.61-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_83.0.4103.61-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (83.0.4103.61-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (83.0.4103.61-0ubuntu0.18.04.1) ...
Setting up chromium-browser (83.0.4103.61-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (83.0.4103.61-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (83.0.4103.61-0ubuntu0.18.04.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [109]:
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
chrome_options.add_argument('--start-maximized')
chrome_options.add_argument('user-agent=Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36')
chrome_options.add_argument('--ignore-certificate-errors')
wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options, service_args=['--verbose', '--log-path=/tmp/chromedriver.log'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: use options instead of chrome_options
  # This is added back by InteractiveShellApp.init_path()

In [110]:
wd.delete_all_cookies()

In [111]:
wd.get("https://opcoes.net.br/opcoes/bovespa/PETR4")

In [112]:
# Click para ver todas as avaliações da página
load_reviews = wd.find_element_by_xpath("//div[contains(@class, 'modal-header')]")

In [113]:
#wd.execute_script()

In [114]:
""" Aqui teoricamnete faz o click no site, para carregar as informações que estão em Ajax e não conseguimos ler com scrapping tradicional.
Falta verificar como fazer alterações para clicar em outros botoes do site. Por exemplo, selecionar <label for="OTM_entre_5_e_15">OTM entre 5% e 15%</label> """
wd.execute_script("arguments[0].click();", load_reviews)

In [115]:
from bs4 import BeautifulSoup
page_html = wd.page_source
soup = BeautifulSoup(page_html,'html.parser')

In [116]:

load_reviews

In [117]:
indices=[]
for i in range(len(soup.find_all('th'))):

  indices.append(soup.find_all('th')[i].text)

In [118]:
indices

['Ticker',
 'FM',
 'Tipo',
 'Mod.',
 'A/I/OTM',
 'Strike',
 'Distância % do Strike',
 'Prêmio como % da última cotação',
 'Último',
 'Número de Negócios',
 'Volume Negociado',
 'Data/Hora',
 'Vol. Implícita',
 'Delta',
 'Gamma',
 'Theta',
 'Vega',
 '✔',
 'CALLPUT',
 'AE',
 'ATMITMOTM',
 '6,638,489,4810,5311,2811,5311,7812,0312,5312,7813,0313,5313,7814,0314,2814,5314,7815,0315,2815,5315,7816,0316,2816,5316,7817,0317,2817,5317,7818,0318,2818,5318,7819,0319,2819,5319,7820,0320,2820,5320,7821,0321,2821,5321,7822,0322,2822,5322,7823,0323,2823,5323,7824,0324,2824,5324,7825,0325,2825,5325,7826,0326,2826,5326,7827,0327,2827,5327,7828,0328,2828,5328,7829,0329,2829,5329,7830,0330,2830,5331,0331,2831,5331,7832,2832,5332,7833,0333,2833,5334,5335,0335,5336,5337,5338,53']

In [119]:
indices.pop(-1)
indices.pop(-1)
indices.pop(-1)
indices.pop(-1)
indices.pop(-1)
indices

['Ticker',
 'FM',
 'Tipo',
 'Mod.',
 'A/I/OTM',
 'Strike',
 'Distância % do Strike',
 'Prêmio como % da última cotação',
 'Último',
 'Número de Negócios',
 'Volume Negociado',
 'Data/Hora',
 'Vol. Implícita',
 'Delta',
 'Gamma',
 'Theta',
 'Vega']

In [171]:
ticker_lista=[]
fm_lista=[]
Tipo_lista=[]
Mod=[]
AIOTM=[]
Strike=[]
DistanciadoStrike=[]
Premio_perc_ultima_cotacao=[]
ultimo_premio=[]
nodenegocios=[]
VolumeNegociado=[]
DataHora=[]
VolImplicita=[]
Delta=[]
Gamma=[]
Theta=[]
Vega=[]

for i in range(0,len(soup.find_all('td')),17):

  ticker_lista.append(soup.find_all('td')[i].text)
  fm_lista.append(soup.find_all('td')[i+1].text)
  Tipo_lista.append(soup.find_all('td')[i+2].text)
  Mod.append(soup.find_all('td')[i+3].text)
  AIOTM.append(soup.find_all('td')[i+4].text)
  #Strike.append(soup.find_all('td')[i+5].text)
  
  Strike.append(float(soup.find_all('td')[i+5].text.replace(',','.')))
  
  #DistanciadoStrike.append(soup.find_all('td')[i+6].text)
  DistanciadoStrike.append(float(soup.find_all('td')[i+6].text.replace(',','.')))
  #Premio_perc_ultima_cotacao.append(soup.find_all('td')[i+7].text)
  Premio_perc_ultima_cotacao.append(float(soup.find_all('td')[i+7].text.replace(',','.')))

  #ultimo_premio.append(soup.find_all('td')[i+8].text)
  ultimo_premio.append(float(soup.find_all('td')[i+8].text.replace(',','.')))

  nodenegocios.append(soup.find_all('td')[i+9].text)
  #excluindo os dados depois da virgula, para tentar transformar em numero
  VolumeNegociado.append(soup.find_all('td')[i+10].text[:-3].replace('.',''))
  #VolumeNegociado.append(soup.find_all('td')[i+10].text)
  DataHora.append(soup.find_all('td')[i+11].text)
  VolImplicita.append(soup.find_all('td')[i+12].text)
  Delta.append(soup.find_all('td')[i+13].text)
  Gamma.append(soup.find_all('td')[i+14].text)
  Theta.append(soup.find_all('td')[i+15].text)
  Vega.append(soup.find_all('td')[i+16].text)

In [170]:
#soup.find_all('td')[i+10].text[:-3].replace('.','')

'556236'

In [139]:
#float(soup.find_all('td')[i+7].text.replace(',','.'))

7.08

In [122]:
#soup.find_all('td')[i+10].text[:-3]

'556.236'

In [123]:
# Aqui tem um problema, pelo formato do numero ser em str, não consegui fazer alteração para float. Depois para fazer manipulação no DataFrame, fica inviável.
#Problema foi resolvido, jogando o dataframe em excel. Tentar resolver essa extração aqui, antes de chegar ao Dataframe.
soup.find_all('td')[i+5].text

'23,03'

In [124]:
float(soup.find_all('td')[i+5].text.replace(',','.'))

23.03

In [173]:
import numpy as np
ticker_lista=np.array(ticker_lista)
fm_lista=np.array(fm_lista)
Tipo_lista=np.array(Tipo_lista)
Mod=np.array(Mod)
AIOTM=np.array(AIOTM)
Strike=np.array(Strike)
DistanciadoStrike=np.array(DistanciadoStrike)
Premio_perc_ultima_cotacao=np.array(Premio_perc_ultima_cotacao)
ultimo_premio=np.array(ultimo_premio)
nodenegocios=np.array(nodenegocios)
VolumeNegociado=np.array(VolumeNegociado)
DataHora=np.array(DataHora)
VolImplicita=np.array(VolImplicita)
Delta=np.array(Delta)
Gamma=np.array(Gamma)
Theta=np.array(Theta)
Vega=np.array(Vega)

In [175]:
import pandas as pd
parametros=[ticker_lista,fm_lista,Tipo_lista,Mod,AIOTM,Strike,DistanciadoStrike,Premio_perc_ultima_cotacao,ultimo_premio,nodenegocios,VolumeNegociado,DataHora,VolImplicita,Delta,Gamma,Theta,Vega]
opcoes=pd.DataFrame(parametros).T
opcoes.columns=['ticker_lista','fm_lista','Tipo_lista','Mod','AIOTM','Strike','DistanciadoStrike','Premio_perc_ultima_cotacao','ultimo_premio','nodenegocios','VolumeNegociado','DataHora','VolImplicita','Delta','Gamma','Theta','Vega']
opcoes

   ticker_lista fm_lista Tipo_lista Mod  ... Delta Gamma Theta Vega
0      PETRH182                CALL   E  ...
1      PETRT182                 PUT   E  ...
2      PETRH220                CALL   A  ...
3      PETRT220                 PUT   E  ...
4      PETRH212                CALL   E  ...
5      PETRT212        ✔        PUT   E  ...
6      PETRH225                CALL   A  ...
7      PETRT225                 PUT   E  ...
8      PETRH217                CALL   E  ...
9      PETRT217                 PUT   E  ...
10     PETRH232                CALL   A  ...
11     PETRT232                 PUT   E  ...
12     PETRH199                CALL   E  ...
13     PETRT199        ✔        PUT   E  ...
14     PETRH206                CALL   A  ...
15     PETRT206                 PUT   E  ...

[16 rows x 17 columns]

In [178]:
opcoes.Strike= opcoes.Strike.astype(np.float64)
opcoes.DistanciadoStrike= opcoes.DistanciadoStrike.astype(np.float64)
opcoes.Premio_perc_ultima_cotacao= opcoes.Premio_perc_ultima_cotacao.astype(np.float64)
opcoes.ultimo_premio= opcoes.ultimo_premio.astype(np.float64)
opcoes.nodenegocios= opcoes.nodenegocios.astype(np.float64)
opcoes.VolumeNegociado= opcoes.VolumeNegociado.astype(np.float64)

In [179]:
opcoes.head(3)

  ticker_lista fm_lista Tipo_lista Mod  ... Delta  Gamma  Theta  Vega
0     PETRH182                CALL   E  ...
1     PETRT182                 PUT   E  ...
2     PETRH220                CALL   A  ...

[3 rows x 17 columns]

In [53]:
import time
#problema aqui eh o horario local definido eh no pais onde colab esta rodando.
time.localtime()

time.struct_time(tm_year=2020, tm_mon=7, tm_mday=14, tm_hour=14, tm_min=6, tm_sec=9, tm_wday=1, tm_yday=196, tm_isdst=0)

In [54]:
hora=time.localtime().tm_hour
min=time.localtime().tm_min
seg=time.localtime().tm_sec

In [55]:
opcoes.to_excel(f'opcoes_{hora}h{min}m{seg}s.xls')

In [180]:
opcoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ticker_lista                16 non-null     object
 1   fm_lista                    16 non-null     object
 2   Tipo_lista                  16 non-null     object
 3   Mod                         16 non-null     object
 4   AIOTM                       16 non-null     object
 5   Strike                      16 non-null     float64
 6   DistanciadoStrike           16 non-null     float64
 7   Premio_perc_ultima_cotacao  16 non-null     float64
 8   ultimo_premio               16 non-null     float64
 9   nodenegocios                16 non-null     float64
 10  VolumeNegociado             16 non-null     float64
 11  DataHora                    16 non-null     object
 12  VolImplicita                16 non-null     object
 13  Delta                       16 non-null     object
 14  Gamma                       16 non-null     object
 15  Theta                       16 non-null     object
 16  Vega                        16 non-null     object
dtypes: float64(6), object(11)
memory usage: 2.2+ KB

In [181]:
#este,<class 'numpy.str_'>, eh o formato que esta dando problema.

print(type(opcoes.Strike[0]))
print(type(opcoes.DistanciadoStrike[0]))
print(type(opcoes.Premio_perc_ultima_cotacao[0]))
print(type(opcoes.ultimo_premio[0]))
print(type(opcoes.nodenegocios[0]))
print(type(opcoes.VolumeNegociado[0]))

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [183]:
#opcoes.Strike.dtype

opcoes.apply(pd.to_numeric, errors='coerce')

    ticker_lista  fm_lista  Tipo_lista  Mod  ...  Delta  Gamma  Theta  Vega
0            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
1            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
2            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
3            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
4            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
5            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
6            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
7            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
8            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
9            NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
10           NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
11           NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
12           NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
13           NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
14           NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN
15           NaN       NaN         NaN  NaN  ...    NaN    NaN    NaN   NaN

[16 rows x 17 columns]

from bs4 import BeautifulSoup

page_html = wd.page_source

soup = BeautifulSoup(page_html,'html.parser')

print(soup.find_all('td', {"class": "dt-body-right sorting_1"})) # results




soup.find_all('td', {"class": "dt-body-right sorting_1"})


soup.find_all('td')


soup.find_all('td', {"class": "dt-body-right sorting_1"})[1].text


soup.find_all('td', {"class": " dt-body-right font-bold"})



tabela=soup.find_all('tbody')